#imgsize {
  height: 2rem !important;
  width: 2rem !important;
}
.poke {
  height: 30rem !important;
  width: 30rem !important;
}
.opacity {
  background: rgba(0, 0, 0, 0.25) !important;
}
.opacity1 {
  background: rgba(0, 0, 0, 0.4) !important;
}
.text {
  color: black !important;
}
#characters {
  background-size: cover;
  background: url(poke6.png);
  color: white;
}
#formpad {
  padding-bottom: 1.5rem !important;
}
.bruh {
  text-align: center;
}
